:root {
  --dark: #000000;
  --white: #ffff;
  --violet: #4E2861;
  --purple: #794590;
  --lavender: #CCA5D5;
  --lilac: #D38DC9;
  --magenta: #c03667;
  }

.footerContainer {
    padding-top: 1.6rem;
    margin: 1rem -1rem -1rem -1rem;
    background: var(--lavender);
    text-align: center;
    justify-content: center;
    align-items: center;    
    height: 5rem;
    /*position: fixed;*/
  }
  
  .footerTitle {
    color: var(--violet);
    font-size: 1.3rem;
    margin: 0;
    padding: 0;

  }
  a{
    text-decoration: none; 
    color: var(--violet); 
  }
 
  @media(max-width: 765px) {
    .footerImage {
      width: 50%;
    }
  }