:root {
  --dark: #000000;
  --white: #ffff;
  --violet: #4E2861;
  --purple: #794590;
  --lavender: #CCA5D5;
  --lilac: #D38DC9;
  --magenta: #c03667;
}

.pageTitle {
  text-align: center;
  font-size: 3rem;
  color: #c03667;
  padding: 0 1rem 0 1rem;
  margin: 0 1rem 0.5rem 1rem;
}
.cursoTitle{
  text-align: center;
  font-size: 2.5rem;
  color: #c03667;
  padding: 0 1rem 0 1rem;
  margin: 0 1rem 0.5rem 1rem;
}

.cursosGeral {
  display: flex;
  text-align: center;
  color: var(--violet);
}

.cursos {
  width: 28vw;
  border: solid 2px var(--lavender);
  padding: 0.5rem;
  margin: 1rem;
  gap: 2rem;
  text-align: center;
  border-radius: 25px;
}

.imgTechnology {
  width: 20vw;
}

