:root {
  --dark: #000000;
  --white: #ffff;
  --violet: #4E2861;
  --purple: #794590;
  --lavender: #CCA5D5;
  --lilac: #D38DC9;
  --magenta: #BA63A3;
}

.inicioMain {
  background-color: var(--lavender);

  width: 100vw;
  height: 80vh;
  color: var(--violet);
  padding: 0;
  display: flex;
  text-align: center;
}

.inicio1{
  width: 60vw;
  height: 80vh;
}
.inicio2{
  background-image: url("cartazCapa1.png");
  width: 40vw;
  height: 80vh;
}
.titulo1{
  font-size: 4rem;
  padding: 6rem 0 0 8rem;
}
.subtitulo1{
  font-size: 3rem;
  padding: 0 0 0 8rem;
}

.inicioResources {
  background-color: var(--white);
  display: flex;
  color: var(--violet);
  font-size: 1.77rem;
  text-align: center;
  padding: 0;

}

.inicioCursos {
  border: solid 2px var(--lilac);
  width: 50vw;
  height: 60vh;
  padding: 2rem 0 0 0;
  margin: 1.7rem;
  padding-top: 5rem;

}

.imgTechnologys {
  display: inline;

}

.imgTechnology {
  width: 150px;
  margin-top: 3rem;
  padding: 0;
}
.inicioEnsineProf{
  margin: 10rem 0 0 1rem;
  padding: 0.5rem 0 0 0;
}
.inicioEnsineP{
  margin: 0 0 0 1rem;
  padding: 0 0 0.5rem 0;
}
.inicioEnsineContainer{
  background-color: #c03667;
  margin: 14rem 0 0 -5rem;
  padding: 10;
  width: 250px;
  text-align: center;

}

.inicioEnsine {
  color: var(--dark);
  text-align: left;
  width: 50vw;
  height: 65vh;
  padding: 5rem 0 0 8rem;
  margin: 1rem;
  background-image: url("sejaProfessor.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  
}

.inicioCollaborator {
  width: 100vw;
  height: 100vh;
  padding: 10vh 0 0 0;
  margin: 1rem;
  color: var(--violet);
  font-size: 1.7rem;
  text-align: center;
  background-image: url("professor.jpg");
  background-color: var(--lavender);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: none;
}